# Hugging Face Token (get yours at https://huggingface.co/settings/tokens)
HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx



# Your Azure OpenAI API key for chat (can be the same resource or different)
AZURE_OPENAI_API_KEY="<YOUR-AZURE-CHAT-API-KEY>"
AZURE_OPENAI_ENDPOINT="https://<YOUR-AZURE-RESOURCE-NAME>.openai.azure.com/openai/deployments/<DEPLOYMENT-NAME>/chat/completions?api-version=2025-04-01-preview"
AZURE_OPENAI_DEPLOYMENT_NAME="<YOUR-DEPLOYMENT-NAME>"