# Python cache and bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Editor temp files
tempCodeRunnerFile.py


data/

# Environment variables
.env


.vscode/

#init file
__init__.py